@model IEnumerable<Intex.Models.Compound>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompoundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MolecularMass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MolecularMass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompoundID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompoundID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompoundID })
        </td>
    </tr>
}

</table>
